fastapi
pydantic
uvicorn
python-multipart
openai
huggingface-hub
langchain
langchain-community
langchain-postgres
unstructured[all-docs]
unstructured-pytesseract
langchain-unstructured
psycopg2-binary
langchain-openai
flashrank
langchain-huggingface
beautifulsoup4
pypdf2
boto3